.filters {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.filters :is(input, select) { width: auto; }
.filters input[type=search] { flex: 1 1 14rem; }
